		<title>Cuyahoga County Meeting Stats</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="An overview of all Cuyahoga County council and committee meetings.">
		<meta name="author" content="Tom Carlin & Kevin Payravi">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
			<% @jsonmeetingarray.each do |meeting| %>
			<div class="container">
			<div class ="row">
				<div class="col-md-4 center-block">
      			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">P<%= meeting.date %> Attendance: Public Input: <span class="caret"></span></button>	
						<ul class="dropdown-menu" style="width:485px; text-align:left; padding:20px; position:relative">
							<li>
								Members Present:
								<ul>
									<li>Bob</li>
									<li>Joe</li>
									<li>Smith</li>
								</ul>
							</li>
							<br>
							<li>
								Members Absent:
								<ul>
									<li>Bob</li>
									<li>Joe</li>
									<li>Smith</li>
								</ul>
							</li>
						</ul>
				</div>
			</div>
		</div>
			<% end %>

						<div class="col-md-6 col-md-3">
							<p>interestin</p>
</div>
	</body>
<br>
<%= @committee %>

